:root {
    --main-bg: #dacfd4;
    --frame-bg: #ffffff;
    --frame-border: #d3d2d6;
    --circles-bg: #beb8bd;
    --bird-breast: #d5cac2;
    --bird-head-wing: #b0a096;
    --bird-tail: #a9a49a;
    --bird-dark: #48474b;
    --bird-light: #e6e4e7;
  
  }

.frame {
/*position: relative;
width: 95vmin;
height: 66vmin;*/
background-color: var(--frame-bg);
border: 2.5vmin solid var(--frame-border);
border-radius: .5vmin;
box-shadow: -6vmin 6vmin 10vmin 0 #46343c;
}




html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
	background: #e4ebe9 url(fancy_deboss.png) repeat top left;
	color: #444;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 320px;
    padding-top: 330px;
    -moz-transition: padding-top 0.5s ease;
    -o-transition: padding-top 0.5s ease;
    -webkit-transition: padding-top 0.5s ease;
    transition: padding-top 0.5s ease;
}

header {
  width: 100%;
  height: 300px;
  background-color: #3498db;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: url("media/header1.jpg");
}
header h1 {
  font-size: 42px;
  color: #fff;
  /* line-height: 230px; */
  text-transform: uppercase;
  font-weight: 100;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 50px;
}
header nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
header nav a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  font-size: 25px;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
header nav a:hover {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #2c3e50;
}

p {
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #7f8c8d;
}

.wrapper {
  width: 800px;
  margin: 0 auto;


}

section {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;

}
body.sticky-header header {
  height: 60px;
  background-color: rgba(52, 152, 219, 0.9);
  z-index: 1;
  opacity: 90%;
}
body.sticky-header header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}













*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #e4ebe9 url(fancy_deboss.png) repeat top left;
	color: #444;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	/* font-size: 13px; */
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 320px;
}

.wrapper {
	position: relative; 
	max-width: 840px;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
}


/* Slicebox Style */
.sb-slider {
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.sb-slider li {
	margin: 0;
	padding: 0;
	display: none;
}

.sb-slider li > a {
	outline: none;
}

.sb-slider li > a img {
	border: none;
}

.sb-slider img {
	max-width: 100%;
	display: block;
}

.sb-description {
	padding: 20px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 1000;
	position: absolute;
	background: #CBBFAE;
	background: rgba(190,176,155, 0.4);
	border-left: 4px solid rgba(255,255,255,0.7);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);	
	opacity: 0;
	color: #fff;

	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	-ms-transition: all 200ms;
	transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);	
	opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);	
	background: rgba(190,176,155, 0.7);
}

.sb-perspective {
	position: relative;
}

.sb-perspective > div {
	position: absolute;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility : hidden;
	-moz-backface-visibility : hidden;
	-o-backface-visibility : hidden;
	-ms-backface-visibility : hidden;
	backface-visibility : hidden;
}

.sb-side {
	margin: 0;
	display: block;
	position: absolute;

	-moz-backface-visibility : hidden;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


/* custom style */
.container {
  margin: 30px;
}

.shadow {
	width: 100%;
	height: 168px;
	/* position: relative; */
	margin-top: -110px;
	background: transparent url(https://tympanus.net/Development/Slicebox/images/shadow.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	display: block;
}

.sb-description h3 {
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.sb-description h3 a {
	color: #4a3c27;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.nav-arrows {
	/* display: none; */
	/* position: relative; */
}

.nav-arrows a {
	width: 42px;
	height: 42px;
	background: #cbbfae url(https://tympanus.net/Development/Slicebox/images/nav.png) no-repeat top left;
	position: absolute;
	top: 50%;
	left: 2px;
	text-indent: -9000px;
	cursor: pointer;
	margin-top: -21px;
	opacity: 0.9;
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.nav-arrows a:first-child{
	left: auto;
	right: 2px;
	background-position: top right;
}

.nav-arrows a:hover {
	opacity: 1;
}

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: -5px;
	height: 30px;
	width: 100%;
	left: 0;
	display: none;
}

.nav-dots span {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #cbbfae;
	cursor: pointer;
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.6), 
		inset 0 1px 1px rgba(0,0,0,0.1);
}

.nav-dots span.nav-dot-current {
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.6), 
		inset 0 1px 1px rgba(0,0,0,0.1), 
		inset 0 0 0 3px #cbbfae,
		inset 0 0 0 8px #fff;
}

.nav-options {
	width: 70px;
	height: 30px;
	position: absolute;
	right: 70px;
	bottom: 0px;
	display: none;
}

.nav-options span {
	width: 30px;
	height: 30px;
	background: #cbbfae url(https://tympanus.net/Development/Slicebox/images/options.png) no-repeat top left;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.7;
	display: inline-block;
	border-radius: 50%;
}

.nav-options span:first-child{
	background-position: -30px 0px;
	margin-right: 3px;
}

.nav-options span:hover {
	opacity: 1;
}

 



figure {
	position: relative;
	display: grid;
	grid-template-areas:
		"photo"
		"caption";
	gap: 0.5rem;
	margin-inline: auto;
	/* border: 1px solid rgb(0, 0, 0); */
	width: min(250px, 100%);
	background-color: white;
	/* box-shadow: var(--shadow); */
	rotate: var(--rotate, -3deg);
	border-radius: 0.125rem;
	padding: 12px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

figure:nth-of-type(even) {
	direction: rtl;
	--float: right;
	--rotate: 2deg;
	--offset: 0.5rem;
}

figure div {
	overflow: hidden;
	aspect-ratio: 1;
	background-color: black;
	border-radius: inherit;
}


img {
	position: relative;
	width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

figcaption {
	display: grid;
	place-content: start end;
	height: 1.2rem;
	font-family: "Caveat", cursive;
	line-height: 1;
}

@media (min-width: 600px) {
	figure {
		clear: both;
		float: var(--float, left);
		margin-inline: 0 var(--photo-margin);
		margin-block-end: var(--photo-margin);
		translate: var(--offset, -0.5rem) 0;
	}

	.shuffle-photos {
		float: right;
		max-width: 300px;
		margin-inline: var(--photo-margin) 0;
		margin-block-end: var(--photo-margin);
	}
}


@media (max-width: 600px) {
.wrapper {
	padding: 0 0px;
}
}




.containermember {
	padding: 30px;
	background: #f2f2f2;
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 5px 0px rgb(77, 77, 77, 0.46);
	max-width: 500px;
	margin: 50px auto;
  }
  /* End of Circles Container */
  
  /* Circle Settings */
  .circle {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
  }
  .outer-circle {
	width: 100px;
	height: 100px;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 4px rgb(77, 77, 77, 0.46);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
  }
  .inner-circle {
	width: 85px;
	height: 85px;
	border: 3px solid #fff;
	box-shadow: 0px 0px 3px 2px #dddada inset;
	z-index: 1;
	overflow: hidden;
  }
  .inner-circle img {
	width: 90px;
	background-size: cover;
  }
  .sq {
	position: absolute;
	width: 50%;
	height: 120%;
	max-height: 0;
	background: rgb(242 92 5);
  }
  .outer-circle:hover .sq {
	max-height: 130%;
  }
  /* Circle-1 Animation Settings */
  .circle-1 .sq-1 {
	top: -5%;
	right: 0;
	transition: max-height 0.4s linear 0.3s;
  }
  .circle-1:hover .sq-1 {
	transition: max-height 0.4s linear 0s;
  }
  .circle-1 .sq-2 {
	bottom: -5%;
	left: 0;
	transition: max-height 0.4s linear 0s;
  }
  .circle-1:hover .sq-2 {
	transition: max-height 0.4s ease-out 0.3s;
  }
  /* End of Circle-1 Animation Settings */
  
  /* Circle-2 Animation Settings */
  .circle-2 .sq-1 {
	bottom: -5%;
	right: 0;
	transition: max-height 0.4s ease-out 0s;
  }
  .circle-2:hover .sq-1 {
	transition: max-height 0.4s linear 0.3s;
  }
  .circle-2 .sq-2 {
	top: -5%;
	left: 0;
	transition: max-height 0.4s linear 0.3s;
  }
  .circle-2:hover .sq-2 {
	transition: max-height 0.4s linear 0s;
  }
  /* End of Circle-2 Animation Settings */
  /* Circle-3 Animation Settings */
  .circle-3 .sq-1 {
	top: -5%;
	right: 0;
	transition: max-height 0.4s linear;
  }
  .circle-3 .sq-2 {
	bottom: -5%;
	left: 0;
	transition: max-height 0.4s linear;
  }
  /* End of Circle-3 Animation Settings */
  /* Circle-4 Animation Settings */
  .circle-4 .sq-1 {
	bottom: -5%;
	right: 0;
	transition: max-height 0.4s ease-out;
  }
  .circle-4 .sq-2 {
	top: -5%;
	left: 0;
	transition: max-height 0.4s linear;
  }
  /* End of Circle-4 Animation Settings */
  /* Circle-5 Animation Settings */
  .circle-5 .sq-1 {
	top: -5%;
	right: 0;
	transition: max-height 0.4s ease-out;
  }
  .circle-5 .sq-2 {
	top: -5%;
	left: 0;
	transition: max-height 0.4s linear;
  }
  /* End of Circle-5 Animation Settings */
  
  /* Circle-6 Animation Settings */
  .circle-6 .sq-1 {
	bottom: -5%;
	right: 0;
	transition: max-height 0.4s ease-out;
  }
  .circle-6 .sq-2 {
	bottom: -5%;
	left: 0;
	transition: max-height 0.4s linear;
  }