
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@400&display=swap");

:root {
	--bg-color-1: hsl(60deg 23% 95%);
	--bg-color-2: hsl(238deg 60% 96%);
	--text-color: hsl(222deg 29% 24%);
	--shadow-color: 60deg 8% 68%;
	--shadow: 0.2px 0.5px 0.5px hsl(var(--shadow-color) / 0.41),
		0.4px 1px 1px -1.3px hsl(var(--shadow-color) / 0.33),
		1.3px 3.1px 3px -2.7px hsl(var(--shadow-color) / 0.26),
		3.5px 8.3px 8.1px -4px hsl(var(--shadow-color) / 0.18);
}

body {
	font-family: "Inter", sans-serif;
	font-size: clamp(1.125rem, 2vw, 1.25rem);
	color: var(--text-color);
	background-image: linear-gradient(
		to bottom,
		var(--bg-color-1),
		var(--bg-color-2)
	);
	overflow-x: hidden;
}

article {
	--photo-margin: clamp(1rem, 6vw, 2rem);
	inline-size: min(65ch, 100% - 4rem);
	margin-inline: auto;
	margin-block-end: 30vh;
}

header {
	position: relative;
	display: grid;
	place-items: center;
	height: calc(100vh - 15rem);
}

h1 {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.2em;
	margin-inline-start: -2rem;
	font-size: clamp(1.5rem, 10vw, 6rem);
	font-family: "Caveat", cursive;
	line-height: 1;
	rotate: -3deg;
	background: linear-gradient(176deg, #4f67e3 0%, #ca4fc2 45%, #edba5d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1 span {
	font-size: 0.6em;
}

p {
	margin-block: 2.5rem;
	letter-spacing: -0.025em;
	line-height: 1.75em;
}

figure {
	position: relative;
	display: grid;
	grid-template-areas:
		"photo"
		"caption";
	gap: 0.5rem;
	margin-inline: auto;
	border: 1rem solid white;
	width: min(250px, 100%);
	background-color: white;
	box-shadow: var(--shadow);
	rotate: var(--rotate, -3deg);
	border-radius: 0.125rem;
}

figure:nth-of-type(even) {
	direction: rtl;
	--float: right;
	--rotate: 2deg;
	--offset: 0.5rem;
}

figure div {
	overflow: hidden;
	aspect-ratio: 1;
	background-color: black;
	border-radius: inherit;
}

img {
	position: relative;
	width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

figcaption {
	display: grid;
	place-content: start end;
	height: 3.5rem;
	font-family: "Caveat", cursive;
	line-height: 1;
}

.shuffle-photos {
	display: grid;
	grid-template-areas: "container";
	place-items: center;
	margin-inline: auto;
}

.shuffle-photos > * {
	grid-area: container;
}

.shuffle-photos figure {
	--float: none;
	margin: unset;
}

.shuffle-photos > :first-child {
	z-index: 1;
}

@media (min-width: 600px) {
	figure {
		clear: both;
		float: var(--float, left);
		margin-inline: 0 var(--photo-margin);
		margin-block-end: var(--photo-margin);
		translate: var(--offset, -0.5rem) 0;
	}

	.shuffle-photos {
		float: right;
		max-width: 300px;
		margin-inline: var(--photo-margin) 0;
		margin-block-end: var(--photo-margin);
	}
}

/* --------------------------------
✨ Scroll-driven animations
--------------------------------- */
figure {
	view-timeline-name: --photo;
}

header {
	animation: auto linear title both;
	animation-timeline: view();
	animation-range: exit 10% cover 80%;
}

.develop-photo {
	animation: auto linear develop both;
	animation-timeline: --photo;
	animation-range: entry 30% cover 40%;
}

.shuffle-photos > :first-child {
	animation: auto linear shuffle-top both;
	animation-timeline: view();
	animation-range: entry 110% cover 60%;
}

.shuffle-photos > :last-child {
	animation: auto linear shuffle-bottom both;
	animation-timeline: view();
	animation-range: entry 110% cover 60%;
}

@keyframes title {
	to {
		opacity: 0;
		translate: 0 10%;
	}
}

@keyframes develop {
	from {
		filter: blur(30px);
		scale: 1.1;
		opacity: 0;
	}
	to {
		filter: blur(0);
		scale: 1;
		opacity: 1;
	}
}

@keyframes shuffle-top {
	50% {
		translate: 100% -20%;
		rotate: 20deg;
	}
	to {
		rotate: 5deg;
	}
}

@keyframes shuffle-bottom {
	50% {
		translate: -15% 35%;
		rotate: -15deg;
		z-index: 0;
	}
	51% {
		z-index: 1;
	}
	to {
		rotate: -5deg;
		z-index: 1;
	}
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  padding-top: 330px;
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}

header {
  width: 100%;
  height: 300px;
  background-color: #3498db;
  text-align: center;
  position: relative;
  position: fixed;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header h1 {
  font-size: 42px;
  color: #fff;
  line-height: 230px;
  text-transform: uppercase;
  font-weight: 100;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
header nav a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
header nav a:hover {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #2c3e50;
}

p {
  margin-bottom: 2rem;
  line-height: 2;
  color: #7f8c8d;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

section {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;
}
body.sticky-header header {
  height: 60px;
  background-color: rgba(52, 152, 219, 0.9);
}
body.sticky-header header h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
